@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Space Mono", monospace;
}
@layer base {
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 0px rgba(51, 41, 41, 0) inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 9999s ease-in-out 0s;
  }
}
